<a href="https://colab.research.google.com/github/BrennanB572/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df_new = application_df.drop(columns=['EIN', 'NAME'])
application_df_new

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [6]:
# Determine the number of unique values in each column.
application_df_new.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df_new['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df_new['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
greater_than_1_counts = application_df_new['CLASSIFICATION'].value_counts()[application_df_new['CLASSIFICATION'].value_counts() > 1]
greater_than_1_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = ['C7000','C1700','C4000','C5000','C1270','C2700','C2800','C7100','C1300','C1280','C1230','C1400','C7200','C2300','C1240','C8000','C7120','C1500','C1800','C6000','C1250','C8200','C1238','C1278','C1235','C1237','C7210','C2400','C1720','C4100','C1257','C1600','C1260','C2710','C0','C3200','C1234','C1246','C1267','C1256', 'C1370','C1236','C2190','C4200','C5200','C1248','C2600','C1580','C6100','C1820','C1900','C2570','C1570','C3700','C2500','C1283','C2380','C1732','C1728','C2170','C4120','C8210','C4500','C1245','C2561','C2150']

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [15]:
# Convert categorical data to numeric with `pd.get_dummies`
df_encoded = pd.get_dummies(application_df_new)
df_encoded

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [16]:
# Split our preprocessed data into our features and target arrays
x = df_encoded.drop(['IS_SUCCESSFUL'],axis=1)
y = df_encoded['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [33]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import ModelCheckpoint

input_dim = X_train.shape[1]

nn = Sequential()

# First hidden layer
nn.add(Dense(80, input_dim = input_dim, activation='relu'))

# Second hidden layer
nn.add(Dense(30, activation='relu'))

# Output layer
nn.add(Dense(1, activation='sigmoid'))

In [34]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
checkpoint_path = '../checkpoint/model_weights_{epoch:02d}.h5'
checkpoint_callback = ModelCheckpoint(filepath=checkpoint_path,
                                      save_weights_only=True,
                                      save_freq='epoch',
                                      period=5)
nn.summary()

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 80)                9360

 dense_10 (Dense)            (None, 30)                2430

 dense_11 (Dense)            (None, 1)                 31

=================================================================
Total params: 11821 (46.18 KB)
Trainable params: 11821 (46.18 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [35]:
# Ensure dtypes
X_train = X_train.astype('float32')
X_test = X_test.astype('float32')
y_train = y_train.astype('int32')
y_test = y_test.astype('int32')

In [36]:
# Train the model
trainer = nn.fit(X_train, y_train, epochs=50, batch_size=32, callbacks=[checkpoint_callback])

Epoch 1/50
858/858 [==============================] - 4s 3ms/step - loss: 19537.4668 - accuracy: 0.4968
Epoch 2/50
858/858 [==============================] - 2s 2ms/step - loss: 35566.2070 - accuracy: 0.5011
Epoch 3/50
858/858 [==============================] - 2s 2ms/step - loss: 8624.7188 - accuracy: 0.5034
Epoch 4/50
858/858 [==============================] - 2s 2ms/step - loss: 38952.5156 - accuracy: 0.5223
Epoch 5/50
858/858 [==============================] - 2s 2ms/step - loss: 14319.0225 - accuracy: 0.5078
Epoch 6/50
858/858 [==============================] - 2s 2ms/step - loss: 6123.9673 - accuracy: 0.5103
Epoch 7/50
858/858 [==============================] - 2s 3ms/step - loss: 6789.3086 - accuracy: 0.5036
Epoch 8/50
858/858 [==============================] - 3s 3ms/step - loss: 30468.0020 - accuracy: 0.4952
Epoch 9/50
858/858 [==============================] - 2s 2ms/step - loss: 16022.6104 - accuracy: 0.5122
Epoch 10/50
858/858 [==============================] - 2s 2ms/step - loss: 24039.6113 - accuracy: 0.4970
Epoch 11/50
858/858 [==============================] - 2s 2ms/step - loss: 3857.2986 - accuracy: 0.5173
Epoch 12/50
858/858 [==============================] - 2s 2ms/step - loss: 11325.2188 - accuracy: 0.5338
Epoch 13/50
858/858 [==============================] - 2s 2ms/step - loss: 6270.3574 - accuracy: 0.5195
Epoch 14/50
858/858 [==============================] - 3s 3ms/step - loss: 5400.7422 - accuracy: 0.5389
Epoch 15/50
858/858 [==============================] - 2s 2ms/step - loss: 1791.9156 - accuracy: 0.5370
Epoch 16/50
858/858 [==============================] - 2s 2ms/step - loss: 4215.9082 - accuracy: 0.5257
Epoch 17/50
858/858 [==============================] - 2s 2ms/step - loss: 4217.8325 - accuracy: 0.5541
Epoch 18/50
858/858 [==============================] - 2s 2ms/step - loss: 4267.4219 - accuracy: 0.5101
Epoch 19/50
858/858 [==============================] - 2s 2ms/step - loss: 1318.8539 - accuracy: 0.5227
Epoch 20/50
858/858 [==============================] - 2s 3ms/step - loss: 2373.0596 - accuracy: 0.4871
Epoch 21/50
858/858 [==============================] - 3s 4ms/step - loss: 475.7054 - accuracy: 0.5236
Epoch 22/50
858/858 [==============================] - 2s 2ms/step - loss: 1247.2759 - accuracy: 0.5477
Epoch 23/50
858/858 [==============================] - 2s 2ms/step - loss: 52.7540 - accuracy: 0.5219
Epoch 24/50
858/858 [==============================] - 2s 2ms/step - loss: 0.6907 - accuracy: 0.5324
Epoch 25/50
858/858 [==============================] - 2s 2ms/step - loss: 0.6900 - accuracy: 0.5324
Epoch 26/50
858/858 [==============================] - 2s 3ms/step - loss: 0.6897 - accuracy: 0.5324
Epoch 27/50
858/858 [==============================] - 3s 4ms/step - loss: 0.6889 - accuracy: 0.5324
Epoch 28/50
858/858 [==============================] - 2s 2ms/step - loss: 0.6842 - accuracy: 0.5326
Epoch 29/50
858/858 [==============================] - 2s 2ms/step - loss: 0.6830 - accuracy: 0.5324
Epoch 30/50
858/858 [==============================] - 2s 2ms/step - loss: 0.6755 - accuracy: 0.5324
Epoch 31/50
858/858 [==============================] - 2s 2ms/step - loss: 0.6699 - accuracy: 0.5446
Epoch 32/50
858/858 [==============================] - 2s 2ms/step - loss: 0.6675 - accuracy: 0.5954
Epoch 33/50
858/858 [==============================] - 3s 3ms/step - loss: 0.6646 - accuracy: 0.5811
Epoch 34/50
858/858 [==============================] - 2s 3ms/step - loss: 0.6607 - accuracy: 0.6230
Epoch 35/50
858/858 [==============================] - 2s 2ms/step - loss: 0.6474 - accuracy: 0.6452
Epoch 36/50
858/858 [==============================] - 2s 2ms/step - loss: 0.6334 - accuracy: 0.6543
Epoch 37/50
858/858 [==============================] - 2s 2ms/step - loss: 0.6323 - accuracy: 0.6537
Epoch 38/50
858/858 [==============================] - 2s 2ms/step - loss: 0.6323 - accuracy: 0.6528
Epoch 39/50
858/858 [==============================] - 3s 3ms/step - loss: 0.6315 - accuracy: 0.6556
Epoch 40/50
858/858 [==============================] - 2s 3ms/step - loss: 0.6320 - accuracy: 0.6545
Epoch 41/50
858/858 [==============================] - 2s 2ms/step - loss: 0.6748 - accuracy: 0.5663
Epoch 42/50
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 43/50
858/858 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 44/50
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 45/50
858/858 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 46/50
858/858 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 47/50
858/858 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 48/50
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 49/50
858/858 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 50/50
858/858 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 2.5934 - accuracy: 0.7000 - 436ms/epoch - 2ms/step
Loss: 2.5933806896209717, Accuracy: 0.699999988079071

In [38]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(